@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;     
}



/* topmenu */
.border {
    border: 1px solid #cccccc;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1410px;
    }
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.topmenu {
    display: none;   
    padding: 1rem;
}

.topmenu .border {
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

@media (min-width: 768px) {
   .topmenu{
       display: block;
   }
}

/* topmeny/Opening hours */

.opening-hours {
    display: flex;
    align-items: center;
}

.opening-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2BAAEC;
}

.opening-hours p {
    margin: 0;
    font-size: 1,05rem;
}

/*top menu/Social media */

.topmenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    }

.topmenu ul li {
    margin-left: 1.3rem;
}

.topmenu a {
    color: #2BAAEC;
    font-size: 1.1rem;
}

.topmenu a:hover {
    color: #25E6C8;
}



/* mainmenu */
#mainmenu {
    font-family: 'Roboto Slab', serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 768px) { #mainmenu{ padding-top: 2rem; padding-bottom: 2rem;}}

#mainmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainmenu .container .logo {
    height: 50px;    
}
@media (min-width: 768px) {#mainmenu .container .logo {height: 60px;}}

#mainmenu .container .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

#mainmenu .container .menu ul {
  list-style: none;
  display: none;
  margin: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu ul { display: flex}}

#mainmenu .container .menu ul li {
   margin-left: 1.3rem;
}

#mainmenu .container .menu ul li a {
    color: #363636;
    text-decoration: none;
}

#mainmenu .container .menu .btn1 {
    font-size: 2rem;
    display: inline-flex; 
    font-weight: 300;
    text-align: center;  
    vertical-align: middle;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;

  }
  @media (min-width: 992px) { #mainmenu .container .menu .btn1 { display: none}}


.showcase  {
    background-color: #DEDEDE;
} 

.showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.showcase .container .placehold {
    height: 680px;     
}

.showcase .summary {
   margin-left: 155px;
   font-family: Roboto Slab;   
}

.showcase .summary h1 {
    font-size: 3.5rem;
    font-weight: 400;   
}

.showcase .summary p {
    font-size: 1rem;
}

.btn2 {
    background-color: #25E6C8;
    color: #FFFFFF;
    border: none;
    border-radius: 0.6rem;
    padding: 1.2rem 3.5rem;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 1rem;   
    font-weight: bold;
    font-family: Roboto; 
    font-style: normal; 
}

.btn2:hover {
    background-color: #2baaec;
}



/* appointment*/

.appointment
{
    background-color:#2BAAEC;
    opacity: 80%;
}

.appointment .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment p {
    color: #FFFFFF;
    font-family: Roboto Slab; 
    font-size: 2rem;   
    font-weight: 400;
}



/* footer*/
.footer
{
    background-color:#2BAAEC;   
    text-align: center; 
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    
    
}

.footer p {
    color: #F3FBFF;
    opacity: 60%;
    font-family: Roboto;
}


    



