@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;     
}

.border {
    border: 1px solid #cccccc;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1410px;
    }
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

/* navbar-top */
.navbar-top {
    display: none;   
    padding: 1rem;
}

.navbar-top .border {
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.navbar-top .container {
    padding: 0;
}

@media (min-width: 768px) {
   .navbar-top{
       display: block;
   }
}

.working-hours {
    display: flex;
    align-items: center;
}

.working-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2BAAEC;
}

.working-hours p {
    margin: 0;
    font-size: 1,05rem;
}

.navbar-top ul {
    display: flex;
    list-style: none;
    margin: 0;
    }

.navbar-top ul li {
    margin-left: 1.3rem;
}

.navbar-top a {
    color: #2BAAEC;
    font-size: 1.1rem;
}

.navbar-top a:hover {
    color: #25E6C8;
}



